<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/{{ postgres_db_hibernate }}</property>
		<property name="hibernate.connection.username">{{ postgres_user }}</property>
		<property name="hibernate.connection.password">{{ postgres_pass }}</property>
		<property name="hibernate.connection.pool_size">10</property>
		<!--don't use hibernate.hbm2ddl.auto in production. Only once to intialize process database
			first time one of application using the database (web or processDataManager) is deployed. -->
		<!--<property name="hibernate.hbm2ddl.auto">create-drop</property> -->
		{{ hibernate_init }}
		<!-- Persistent classes -->
		<mapping class="cz.nkp.urnnbn.processmanager.core.Process" />
		<mapping class="cz.nkp.urnnbn.processmanager.core.XmlTransformation" />
		<!-- Other -->
		<!-- <property type="org.joda.time.contrib.hibernate.PersistentDateTime" name="dateTime"/> -->
		<!-- <property name="dateTime">org.joda.time.contrib.hibernate.PersistentDateTime</property> -->
	</session-factory>
</hibernate-configuration>
